@tailwind base;
@tailwind components;
@tailwind utilities;

.hour-block {
  text-align: center;
  line-height: 50px;
}

/* .hour-block-has-lesson:hover,
.hour-block-has-lesson:hover + .hour-block-has-lesson-block {
  background-color: #ff0000 !important ;
} */
html {
  scroll-behavior: smooth;
}
